<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jurisoft{% endblock %}</title>
        {{ encore_entry_link_tags('appStyle') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container ">
        <div class="d-flex justify-content-center">
            <img src="{{ asset('build/Jurisoft-Applications-logo.png') }}" alt="logo Jurisoft">
        </div>


        <h6 class="text-info">
        {% block titre %}
        {% endblock %}
        </h6>

        {% block body %}
        {% endblock %}
    </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}


    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-edit-label">Edition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <i class="fad fa-spinner fa-spin"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" id="save" class="btn btn-sm btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="container-loader" class="d-flex justify-content-center flex-column" >
        <div id="loader"></div>
    </div>
    </body>
</html>
